
.container{
    nav{
        height: 10vh;
        width: 100vw;
        background-color: rgb(0, 255, 162);
        border-radius: 100px;
        
        
        ul{
           list-style: none;
           display: flex;
           align-items: center;
           justify-content: space-around;
           height: 100%;

            li{

                .Link{
                    text-decoration: none;
                    color: black;
                    transition: all 0.3s ease-out;
                }
                .Link:hover{
                    cursor: pointer;
                    padding: 20px;
                    border-radius: 200px;
                    font-size: 2vw;
                    background-color: rgb(0, 255, 251);
                }
            }
        }
    }
}
